@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

/***** Main content *****/

.main-content {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.main-bg {
  padding: 0;
  padding-top: 80px;
  background: url("../img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.main-content .text {
  padding-top: 50px;
}
.main-content h2 {
  margin: 40px 0 10px 0;
  font-weight: 400;
}
.main-content .logo h1 {
  margin: 0;
}
.main-content .logo a {
  display: inline-block;
  font-size: 58px;
  line-height: 68px;
  font-weight: 600;
  color: #FF797E;
}
.main-content .logo a:hover {
  color: #FF6065;
}
.main-content .description {
  margin: 40px 0 10px 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}
.main-content .main-button {
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-content .main-button i {
  padding-right: 3px;
  font-size: 28px;
  vertical-align: middle;
}
