@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

/***** Main content *****/

.main-content {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.main-bg {
  padding: 0;
  padding-top: 80px;
  background: url("../img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.main-content .text {
  padding-top: 50px;
}
.main-content h2 {
  margin: 40px 0 10px 0;
  font-weight: 400;
}
.main-content .logo h1 {
  margin: 0;
}
.main-content .logo a {
  display: inline-block;
  font-size: 58px;
  line-height: 68px;
  font-weight: 600;
  color: #FF797E;
}
.main-content .logo a:hover {
  color: #FF6065;
}
.main-content .description {
  margin: 40px 0 10px 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}
.main-content .main-button {
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-content .main-button i {
  padding-right: 3px;
  font-size: 28px;
  vertical-align: middle;
}

/***** Summary *****/

.summary-container {
    margin: 0 auto;
    padding-bottom: 60px;
    color: #888;
    text-align: center;
}

.summary {
    margin-top: 60px;
    padding-bottom: 10px;
}

.summary h3 {
    color: #555;
}

.summary p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.summary-box {
	text-align: center;
	background: transparent;
	padding-top: 40px;
	padding-bottom: 40px;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.summary-box:hover{
	background: #eee;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.summary-box h4 {
	padding: 10px 0;
	font-size: 30px;
    font-weight: 300;
    color: #555;
    line-height: 34px;
}

.summary-box p {
	font-size: 17px;
    line-height: 32px;
}

.summary-box .icon{
	position: relative;
	padding: 32px 0;
	text-align: center;
	width:92px;
	height: 92px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #eee;
	display: inline-block;
	margin-bottom: 18px;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.summary-box .icon i{
	color:#444;
	font-size: 28px;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.summary-box:hover .icon{
	background: #444;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.summary-box:hover .icon i{
	color: #eee;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

/***** Simulation *****/

.simulation-container {
    margin: 0 auto;
    text-align: left;
}

.simulation-text {
    margin-top: 60px;
    padding-bottom: 10px;
}

.simulation-text p {
	margin-top: 30px;
	padding: 0 10px;
    font-size: 22px;
    line-height: 36px;
}

.simulation-img {
    text-align: center;
	margin-top: 30px;
}

.simulation-bg1 {
	background: #FF797E;
	color: #fff;
}
.simulation-bg1 h3 {
	padding: 0 10px;
	color: #fff;
}

.simulation-bg2 {
	background: #48607D;
	color: #fff;
}

.simulation-bg2 h3 {
	padding: 0 10px;
	color: #fff;
}

.simulation-button {
	margin-top: 40px;
	margin-left: 10px;
}

.simulation-button i {
	padding-right: 8px;
	font-size: 24px;
	vertical-align: middle;
}
